:root {
  --bg-color: #E6E6DE;
  --main-green: #20E864;
  --main-blue: #2251F8;
  --main-red: #EE4813;
}

a{
    text-decoration: none;
    color: white;
}

.about-links {
    color: #b5e0ff;
    text-decoration: none;
}

.about-links:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    color: #b5e0ff !important;
}

a:hover{
    color:rgba(137, 137, 137, 1) 
}

button{
    color: black;
}

    .embed-form {
        width: 100%;
}   



.keyword {
    background: var(--main-green);
    color: black;
}

.question {
    color: var(--main-red);
}


.titles{
    font-family: "Staatliches", sans-serif;
    color: white;
}

.titles a:hover {
    color: #ff316a;
}

.onboarding{
    position: relative;
    height: 100%;
/*    overflow: hidden;*/
}


.offboarding {
    position: relative;
    overflow: hidden;
    display: none;
}

.onboarding-button {
    background-color: var(--main-green);
    color: black;

    height: 3rem;
    font-size: 100%;
    padding: 0 3%;
    margin-left: 0%;
    margin-top: 1%;
    margin-bottom: 3%;
   

/*    width: fit-content;*/
    
    width: 35%;

    border-radius: 36px;

    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;

    border: 1px solid #000000;

    box-shadow: 0px 5px 0px 0px #000000;


}

.onboarding-button:hover {
    color: black;
    background-color: white;
}

#onboarding-text, #offboarding-text {
    text-align: center;
    color: black;
    background-color: var(--bg-color);

    margin-top: 13%;
    margin-left: 25%;
/*    height: 25rem;*/
    width: 50%;
    padding: 10px 10px 10px 10px;
    border-radius: 20px 20px 30px 30px;
    border: 20px var(--main-blue);
    border-style: solid none none none;
    text-wrap: balance;
    overflow-y: scroll;
/*    overflow: scroll;*/
}


@media only screen and (max-width: 500px) {
    #onboarding-text, #offboarding-text {
        width: 75%;
        margin-left: 10%;
        margin-top: 5%;
    }
}

@media only screen and (min-width: 2000px) {
    #onboarding-text, #offboarding-text {
        width: 40%;
        margin-left: 30%;
        padding: 25px;
        font-size: 1.5rem;
    }
}

@media only screen and (min-height: 1500px) {
    #onboarding-text, #offboarding-text {
        margin-top: 35%;
    }
}

@media only screen and (max-width: 450px) {
    #onboarding-text, #offboarding-text {
        height: 65%;
        margin-top: 20%;
    }
    .onboarding-button {
        margin-top: 7%;
        width: 50%;
    }
}

@media only screen and (max-width: 400px) {
    #onboarding-text, #offboarding-text {
        height: 80%;
        margin-top: 10%;
    }
    .onboarding-button {
        margin-top: 7%;
        width: 50%;
    }
}




.subtitles{
    font-family: "Staatliches", sans-serif;
    display: flex;
    justify-content: center;
    font-size: 200%;
}

.subtitle{
    padding: 1vh 0;
    color: #b5e0ff;
    margin: 0 5%;
}

.subtitle:hover{
    color: #8cbadb;
}

.subtitle.selected{
/*    color: #5d8cae;*/
color: #ff316a;
}

#title-div{
    position: absolute;
    z-index: 10;
}

.info-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#landing-body-div,  #landing-body-div-home{
/*    padding-top: 1vh;*/
    font-family: 'JetBrains Mono', monospace;
    color: white;
    font-size: 120%;
    line-height: 1.4em;
}


#get-started-title{
    margin-top: 7vh;
    width: 100%;
    text-align: center;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100dvh;
/*    font-family: Helvetica Neue, Arial, sans-serif;*/
    font-family: 'JetBrains Mono', monospace;
    overflow: hidden;
    touch-action: manipulation;
    background: #080416 url('../images/empty_background.png') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

#game-body{
    background: url('../images/background.png') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

#content{
    width: 100vw;
    height: 100dvh;
    position: absolute;
    z-index: 0;
}

#info-column{
    justify-content: center;
    display: flex;
    position: absolute;
    z-index: 5;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    pointer-events: none; 
}

#device-column{
    display: flex;
    align-items: center;
}

#info{
    position: relative;
    display: flex;
    flex-direction: column;
    transition: background-color 0.1s ease-in-out;
    border: 3px solid black;
    padding-bottom: 8%;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: white;
    border-radius: 5% 5% 0 0;
    transition: top 0.2s ease-in-out;
    pointer-events: auto; 
}

.info-row{
    margin-bottom:3%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.bar-container{
    display: flex;
    justify-content: space-between;
    height: 5%;
    font-size: 120%;
}

.bar{
    border: 2px solid black;
    display: flex;
    justify-content: left;
    width: 65%;

    border-radius: 30px;
}

.bar-fill{
    background-color: var(--main-red);
    width: 3%;
    border-radius: 30px;
}

.device{
    position: relative;
    overflow: hidden;
    max-width: 414px;
    max-height: 881px;
    z-index: 1;
/*    background-image: #080416 url('../images/empty_background.png');*/
}

#device-screen{
    width: 100%;
    height: 100%;
    user-select: none;
}

.post{
    width: 100%;
    height: 100%;
}

.message-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
}

.message-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--bg-color);
    text-align: center;
    width: 100%;
    align-items: center;
}

.message-title{
    font-size: 280%;
    padding-bottom: 10%;
    margin: 0 5%;
}

@media only screen and (max-width: 770px) {
    .message-title {
        margin-left: 5%;
    }
}
.message-subtitle{
    font-size: 225%;
}

.message-body{
    font-size: 100%;
    height: 50%;
/*    display: flex;*/
    align-items: center;
    justify-content: center;
    padding: 0% 4% 10%;
    margin-left: 2%;
}

.message-body br{
    margin-top: 3%;
}

.smaller-title{
    font-size: 70%;
    line-height: 0%;
}

.smaller-text{
    font-size: 80%;
}


.message-button{
  /*  font-size: 150%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8%;
    padding: 3% 6%;
    width: fit-content;
*/
    height: 4rem;
    font-size: 150%;
    padding: 0 8%;
    margin-left: 0%;
    margin-top: 5%;
/*    margin-button: 2%;*/
/*    width: fit-content;*/
    
    width: 90%;
    background-color: var(--main-green);
    border-radius: 36px;

    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;

    border: 1px solid #000000;

    box-shadow: 0px 10px 0px 0px #000000;

}

.message-button:hover {
    background: white;
}

.message-data{
    width: 100%;
}

.message-data .bar-container{
    height: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#device-buttons{
    display: flex;
    flex-direction: column;
    right: 15px;
    top: 35%;
    height: 30%;
    position: absolute;
    transition: opacity 0.1s ease-in-out;
    z-index: 4;
    justify-content: center;
    padding: 0 7px;
}
.not-hidden {
    border-radius: 30px; 
    /* padding: 10px;  */
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.7); 
    animation: border-pulse 0.5s infinite alternate; 
}
@keyframes border-pulse {
    0%, 100% {
        box-shadow: 0 0 15px 10px rgba(77, 170, 34, 0.7);
    }
    50% {
        box-shadow: 0 0 30px 20px rgba(77, 170, 34, 1); /* More dramatic shadow change */
    }
}

#share{
    padding-bottom: 0%;
}

.device-button{
    height: 20%;
    width: auto;
    padding-bottom: 70%;
    filter: drop-shadow(0 5px 10px black) brightness(2000%);
}

.device-button:hover {

}

.button-clicked{
    animation: animateButtonClick 0.2s;
}

.swipe-tutorial-container {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    right: 27%;
    top: 75%;
    height: 30%;
    justify-content: center;
    position: absolute;
    align-items: center;
    z-index: 4;
    /* height: 100vh; */
    /* background-color: #f0f0f0; */
    transition: opacity 1s ease;
}

.swipe-animation {
    text-align: center;
    animation: swipe-up 2s infinite;
}

.swipe-animation img {
    width: 70px;
    height: auto;
    margin-bottom: 10px;
    filter: brightness(0) saturate(100%) invert(25%) sepia(0%) saturate(0%) hue-rotate(158deg) brightness(90%) contrast(88%);
}

.swipe-animation p {
    font-size: 1.2em;
    color: #333;
}

@keyframes swipe-up {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

#debug{
    position: absolute;
    border: 1px black solid;
    background-color: rgba(41, 128, 52, 0.3);
    width: 200px;
    height: 130px;
    padding: 10px;
    line-height: 140%;
    display: none;
    z-index: 100;
}

#intro{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    display: none;
    align-items: center;
}

.intro-page{
    position: absolute;
    padding: 10vh 5%;
/*    height: 80dvh;*/
height: 100%;
    width: 90%;
    transition: opacity 0.1s ease-in-out;
    background-color: var(--bg-color);
    flex-direction: column;
    justify-content: center;
}

#intro-2 {
background-color: var(--main-blue);
}

.intro-title{
    font-size: 380%;
    margin-bottom: 5%;
    margin-left: 0%;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;  
}

.welcome-title{
    font-size: 200%;
    font-weight: 100;
    margin-bottom: 5%;
    margin-left: 0%;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;  
}


.intro-paragraph{
    font-size: 100%;
    font-family: 'JetBrains Mono', monospace;
    margin-left: 0%;
    letter-spacing: 0em;
    width: 100%;
    /*font-size: 20px;*/
    font-weight: 100 !important;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.loading {
     font-size: 180%;
    margin-bottom: -10%;
    font-family: 'JetBrains Mono', monospace;
    letter-spacing: 0em;
    width: 100%;
    /*font-size: 20px;*/
    font-weight: 100 !important;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.intro-button{
    height: 8%;
    font-size: 150%;
    padding: 0 8%;
    margin-left: 10%;
    margin-top: 10%;
/*    margin-bottom: 5%;*/
/*    margin-bottom: -4%;*/
    width: fit-content;    
    width: 80%;
    background-color: var(--main-green);
    border-radius: 36px;


    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;

    border: 1px solid #000000;

    box-shadow: 0px 6px 0px 0px #000000;


/*border: 1px;*/
gap: 32px;

}

.finish-button {
    border: none;
    background: none;
    font-size: 140%;
     font-family: 'JetBrains Mono', monospace;
}

.intro-button:hover {
    background-color: white;
}

.interest-selection{
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--bg-color);
    padding: 3% 3%;
    margin: 10% 4% 1% 0;
    border-radius: 5%;
    font-size: 90%;
    border-radius: 1000px;
    border-color: black;
    gap: 10px;
    border: 1px solid #000000;
    width: 29%;
    box-shadow: 0px 8px 0px 0px #000000;
}

.interest-selection2{
    background-color: var(--bg-color);
    padding: 3% 3%;
    margin: 2% 2% 1% 2%;
    border-radius: 5%;
    font-size: 100%;
    border-radius: 1000px;
    border-color: black;
    gap: 10px;
    border: 1px solid #000000;
    width: 29%;
}

.interest-selection2:hover {
    background-color: var(--main-green);
}

.interest-selection:hover{
    background-color: var(--main-green);
}

#intro-button-container{
    margin-bottom: 5%;
}

.trait-colors{
/*    background: #b1bbdc;*/
background: #f0f0e1;
}

.trait-shapes{
    background: #dedece;
}

.trait-speeds{
    background: #c2c2b2;
}

#intro-loading-ring{
    display: inline-block;
    position: relative;
    width: 25vh;
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
}

.ring{
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 80%;
    height: 80%;
    margin: 8px;
    border: 50px solid var(--bg-color);
    border-radius: 50%;
    margin-left: 10%;
    animation: loadingRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--bg-color) transparent transparent transparent;

}

#ring1{
    animation-delay: -0.45s;
}

#ring2{
    animation-delay: -0.3s;
}

#ring3{
    animation-delay: -0.15s;
}

#info-icon{
    display: none;
    position: absolute;
    width: 10%;
    bottom: 3%;
    left: 6%;
    transition: opacity 0.2s ease-in-out;
    z-index: 2;
}

.top-info-row{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.info-exit-button{
    display: none;
    font-size: 150%;
    padding: 0 5%;
}

.info-subtitle{
    font-size: 200%;
}

.alg-card{
    margin: 5%;
    border: solid black;
    padding-top: 4%;
    padding-bottom: 4%;
}

.alg-card:hover{
    background-color: rgb(0, 0, 0, 0.2);
}

.alg-title{
    font-size: 130%;
    margin-left: 5%;
}

.alg-subtitle{
    font-size: 100%;
    margin-left: 5%;
}

.create-weightings{
    margin-bottom: 5%;
}

.create{
    margin: 5% 4% 1% 0;
}

.select-priorities{
    margin: 0 3% 3% 3%;
}

.alg-image{
    border: 2px solid black;
}

.alg-interest-list {
    margin-left: 1%;
    margin-right: 1%;
}

#my-alg-card{
    padding: 5% 0;
}

.share-icons{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    padding-bottom: 5%;
}

.share-icon{
    width: 15%;
}

.assumption-subtitle{
    display: none;
    font-size: 100%;
    padding: 2%;
}

.black-gradient{
    background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, 5%, rgba(255,255,255,0) 10%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    pointer-events: none;
}
.button-container {
    position: relative;
    display: inline-block; /* or use other display types as needed */
}

#click-detector {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent; /* or any color with opacity as needed */
    z-index: 1; /* to ensure it's above the button */
}

#interest-finished {
    position: relative;
    z-index: 0;
    height: 100%;
    font-size: 150%;
    padding: 0 8%;
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: -10%;
    position: relative;
    z-index: 0;
    width: 90%;
    background-color: var(--main-green);
    border-radius: 36px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    border: 1px solid #000000;
    box-shadow: 0px 10px 0px 0px #000000;

}
.tooltip {
position: relative;
display: inline-block;
}

.tooltip .tooltiptext {
width: 500%;
/* height: 20%; */
background-color: #f0f0f0;
color: black;
font-size: 0.8rem;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 1;
top: -5px;
right: 130%;
opacity: 0;
transition: opacity 2s ease;
}

.tooltip2 {
position: relative;
display: inline-block;
}

.tooltip2 .tooltiptext2 {
width: 500%;
/* height: 20%; */
background-color: white;
color: black;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 1;
top: -5px;
right: 130%;
opacity: 0;
transition: opacity 2s ease;
}

.nudge {
display: flex;
flex-direction: column;
right: 21%;
top: 92%;
border-radius: 6px;
height: 4%;
width: 50%;
padding: 2%;
font-size: 0.8rem;
justify-content: center;
position: absolute;
align-items: center;
z-index: 4;
/* height: 100vh; */
background-color: #f0f0f0;
transition: opacity 2s ease;
}

.swipe {
    background-color: #f0f0f0;
    border-radius: 6px;
    height: 4%;
    width: 50%;
    padding: 2%;
    font-size: 0.8rem;
}

#landing-body{
    overflow: scroll;
/*    width: 100%;*/
/*    padding-left: 30%;*/
/*    padding-right: 30%;*/
}

/* desktop */
@media only screen and (min-width: 768px) {
    #content{
        display: flex;
        justify-content: center;
    }

    #device-column{
        width: 100vw;
        height: 100dvh;
        justify-content: center;
    }

    .device{
        height: 90%;
        width: auto;
        aspect-ratio: 18 / 39;  /* Based off of iPhone device dimension, 19.5:9 */
        border: 7px solid black;
        border-radius: 45px;
    }

    @supports not (height: 100dvh) {
        #device-column{
            height: 100vh;
        }

        .intro-page{
            height: 80vh;
        }
    }

    @supports not (aspect-ratio: 18 / 39) {
        .device{
            height: 90%;
            width: 43%;
        }

        #landing-device-section{
            height: 465px;
            width: 231px;
        }

        #landing-device{
            width: 100%;
        }

    }

    .intro-title{
        margin-top: 70%;
    }

    .welcome-title{
        margin-top: 20%;
    }

    #top-intro-pararaph{
        margin-top: 40%;
    }

    .titles{
        font-size: 400%;
    }

    #title-div{
        padding: 10px 20px;
    }   
    
    #landing-body-div {

/*        width: 30%;*/
width: 50%;
    }

    #landing-body-div-home {
        width: 35%;
        margin-left: -18%;
    }

    .info-content{
        padding-top: 10vh;
    }

    #landing-device{  
        filter: drop-shadow(0px 0px 10px #ffffff);
        cursor: pointer;
        height: 100%;
    }

    #landing-device-section{
        padding-left: 5%;
        max-height: 70vh;
    }

    #info-body{
        padding-top: 5vh;
        display: flex;
        justify-content: center;
    }

    #get-started-title{
        margin-bottom: 5vh;
        line-height: 1;
        font-size: 5vh;
    }

}
@media only screen and (min-width: 940px) {

    #get-started-title{
        font-size: 7vh;
    }
}

@media only screen and (min-width: 1430px) {

    #get-started-title{
        font-size: 7.5vh;
    }
}



/* mobile */
@media only screen and (max-width: 767px) {

        #get-started-title{
        margin-bottom: 5vh;
        line-height: 1;
        font-size: 6vh;
    }

    #device-column{
        width: 100vw;
        height: 100dvh;
        justify-content: center;
    }

    .device{
        height: 100%;
        width: 100%;
    }

    .intro-title{
        margin-top: 50%;
    }

    .welcome-title{
        margin-top: 0%;
    }

    #top-intro-pararaph{
        margin-top: 20%;
    }

    .titles{
        font-size: 350%;
        width: 100%;
        text-align: center;
        z-index: 10;
    }

    #title-div{
        font-size: 240%;
        padding-top: 15px;
        text-shadow: 2px 2px 3px #282828;
    }
    
    .subtitles {
/*        margin-bottom: -3dvh;*/
    }
    #info-body{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10%;
    }    

    .info-content{
        padding-top: 6vh;
    }

    #landing-body-div{
        padding: 7%;
        padding-top: 0dvh;
    }
  #landing-body-div-home {
    padding: 7%;
    padding-top: 1.5dvh;
  }
    #landing-home {
    padding-top: 10dvh;
}

    #landing-device{
        filter: drop-shadow(0px 0px 10px #ffffff);
        width: 80%;
        height: auto;
        aspect-ratio: 18 / 39;  /* Based off of iPhone device dimension, 19.5:9 */
        border: 7px solid black;
        border-radius: 45px;
        margin: auto;
    }

    #get-started-title{
        margin-top: 5vh;
        margin-bottom: 1vh;
    }

    .subtitles{
        flex-wrap: wrap;
    }

    #landing-device-section{
        width: 100%;
    }

    #start-arrow{
        display: none;
    }

    .alg-card {
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 0 5% 2% 5%;
    }

    .interest-selection2{
        padding: 1%;
        width: 26%;
    }

    .alg-select-weightings{
        font-size: 80%;
    }
}

@keyframes animateButtonClick {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.35);
    }
    0% {
        transform: scale(1);
      }
  }

  @keyframes loadingRing {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

#alg-0 {
    display: none;
}