

:root {
  --bg-color: #E6E6DE;
  --main-green: #20E864;
  --main-blue: #2251F8;
  --main-red: #EE4813;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100dvh;
/*    font-family: Helvetica Neue, Arial, sans-serif;*/
    font-family: 'JetBrains Mono', monospace;
    overflow: hidden;
    touch-action: manipulation;
    background: url('../images/background.png') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

#content{
    width: 100vw;
    height: 100dvh;
    position: absolute;
    z-index: 0;
}

#info-column{
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    z-index: 5;
    align-items: end;
    width: 100%;
    height: 100%;
    pointer-events: none; 
}

#device-column{
    display: flex;
    align-items: center;
}

#info{
    position: relative;
    display: flex;
    flex-direction: column;
    transition: background-color 0.1s ease-in-out;
    border: 3px solid black;
    padding-bottom: 8%;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: white;
    border-radius: 5% 5% 0 0;
    transition: top 0.2s ease-in-out;
    pointer-events: auto; 
}

.info-row{
    margin-bottom:3%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.bar-container{
    display: flex;
    justify-content: space-between;
    height: 5%;
    font-size: 120%;
}

.bar{
    border: 2px solid black;
    display: flex;
    justify-content: left;
    width: 65%;

    border-radius: 30px;



}

.bar-fill{
    background-color: var(--main-red);
    width: 3%;
    border-radius: 30px;
}

#device{
    aspect-ratio: 18 / 39;  /* Based off of iPhone device dimension, 19.5:9 */
    position: relative;
    width: auto;
    border: 7px solid black;
    border-radius: 45px;
    overflow: hidden;
    max-width: 414px;
    max-height: 881px;
    z-index: 1;
    background-image: url('../images/background.png');
}

#device-screen{
    width: 100%;
    height: 100%;
    user-select: none;
}

.post{
    width: 100%;
    height: 100%;
}

.message-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
}

.message-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--bg-color)
    text-align: center;
    width: 100%;
    align-items: center;
}

.message-title{
    font-size: 280%;
    padding-bottom: 10%;
    margin-left: 5%;
}

@media only screen and (max-width: 770px) {
    .message-title {
        margin-left: 5%;
    }
}
.message-subtitle{
    font-size: 225%;
}

.message-body{
    font-size: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0% 4% 10%;
    margin-left: 2%;
}

.message-body br{
    margin-top: 3%;
}

.smaller-title{
    font-size: 70%;
}

.smaller-text{
    font-size: 80%;
}


.message-button{
  /*  font-size: 150%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8%;
    padding: 3% 6%;
    width: fit-content;
*/
    height: 4rem;
    font-size: 150%;
    padding: 0 8%;
    margin-left: 0%;
    margin-top: 5%;
/*    width: fit-content;*/
    
    width: 90%;
    background-color: var(--main-green);
    border-radius: 36px;

    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;

    border: 1px solid #000000;

    box-shadow: 0px 10px 0px 0px #000000;

}

.message-button:hover {
    background: white;
}

.message-data{
    width: 100%;
}

.message-data .bar-container{
    height: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#device-buttons{
    display: flex;
    flex-direction: column;
    right: 5%;
    top: 35%;
    height: 30%;
    position: absolute;
    transition: opacity 0.1s ease-in-out;
    z-index: 4;
}
.not-hidden {
    border-radius: 50%; 
    /* padding: 10px;  */
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.7); 
    animation: border-pulse 0.5s infinite alternate; 
}
@keyframes border-pulse {
    0%, 100% {
        box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.7);
    }
    50% {
        box-shadow: 0 0 30px 20px rgba(0, 0, 0, 1); /* More dramatic shadow change */
    }
}


.device-button{
    height: 20%;
    width: auto;
    padding-bottom: 70%;
}

.device-button:hover {

}

.button-clicked{
    animation: animateButtonClick 0.2s;
}

.swipe-tutorial-container {
    display: flex;
    flex-direction: column;
    right: 32%;
    top: 75%;
    height: 30%;
    justify-content: center;
    position: absolute;
    align-items: center;
    z-index: 4;
    /* height: 100vh; */
    /* background-color: #f0f0f0; */
    transition: opacity 1s ease;
}

.swipe-animation {
    text-align: center;
    animation: swipe-up 2s infinite;
}

.swipe-animation img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.swipe-animation p {
    font-size: 1.2em;
    color: #333;
}

@keyframes swipe-up {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

#debug{
    position: absolute;
    border: 1px black solid;
    background-color: rgba(41, 128, 52, 0.3);
    width: 200px;
    height: 130px;
    padding: 10px;
    line-height: 140%;
    display: none;
    z-index: 100;
}

#intro{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    display: none;
    align-items: center;
}

.intro-page{
    position: absolute;
    padding: 10vh 5%;
    height: 80vh;
    width: 90%;
    transition: opacity 0.1s ease-in-out;
    background-color: var(--bg-color);
    flex-direction: column;
    justify-content: center;

}

#intro-2 {
background-color: var(--main-blue);
}
.intro-title{
    font-size: 380%;
    margin-top: 70%;
    margin-bottom: 5%;
    margin-left: 0%;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;  
}

.welcome-title{
    font-size: 200%;
    margin-top: 20%;
    font-weight: 100;
    margin-bottom: 5%;
    margin-left: 0%;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;  
}


.intro-paragraph{
    font-size: 100%;
    margin-bottom: 7%;
    font-family: 'JetBrains Mono', monospace;
    margin-left: 0%;
    letter-spacing: 0em;
    width: 100%;
/*font-size: 20px;*/
font-weight: 100 !important;
line-height: 25px;
letter-spacing: 0em;
text-align: left;

}

.loading {
     font-size: 180%;
    margin-bottom: -10%;
    font-family: 'JetBrains Mono', monospace;
    letter-spacing: 0em;
    width: 100%;
/*font-size: 20px;*/
font-weight: 100 !important;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
color: white;
}

.intro-button{
    height: 12%;
    font-size: 150%;
    padding: 0 8%;
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: -10%;
/*    width: fit-content;*/    
    width: 90%;
    background-color: var(--main-green);
    border-radius: 36px;


    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;

    border: 1px solid #000000;

    box-shadow: 0px 10px 0px 0px #000000;


/*
border: 1px
gap: 32px*/


}

.intro-button:hover {
    background-color: white;
}

.interest-selection{
    background-color: var(--bg-color);
    padding: 3% 3%;
    margin: 4% 4% 0 0;
    border-radius: 5,%;
    font-size: 100%;

padding: 12px, 42px, 12px, 42px;
border-radius: 1000px;

border-color: black;
gap: 10px;

border: 1px solid #000000;

width: 29%;

box-shadow: 0px 8px 0px 0px #000000;
margin-bottom: 1%;


/*width: 40%;*/

}

.interest-selection2{
    background-color: var(--bg-color);
    padding: 3% 3%;
    margin: 4% 4% 0 0;
    border-radius: 5,%;
    font-size: 100%;

padding: 12px, 42px, 12px, 42px;
border-radius: 1000px;

border-color: black;
gap: 10px;

border: 1px solid #000000;

width: 29%;

margin-bottom: 1%;


/*width: 40%;*/

}

.interest-selection2:hover {
    background-color: var(--main-green);
}


.interest-selection:hover{
    background-color: var(--main-green);
}

#intro-button-container{
    margin-bottom: 15%;
}

#intro-loading-ring{
    display: inline-block;
    position: relative;
    width: 25vh;
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
}

.ring{
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 80%;
    height: 80%;
    margin: 8px;
    border: 50px solid var(--bg-color);
    border-radius: 50%;
    margin-left: 10%;
    animation: loadingRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--bg-color) transparent transparent transparent;

}

#ring1{
    animation-delay: -0.45s;
}

#ring2{
    animation-delay: -0.3s;
}

#ring3{
    animation-delay: -0.15s;
}

#info-icon{
    display: none;
    position: absolute;
    width: 10%;
    bottom: 3%;
    left: 6%;
    transition: opacity 0.2s ease-in-out;
    z-index: 2;
}

.top-info-row{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.info-exit-button{
    display: none;
    font-size: 150%;
    padding: 0 5%;
}

.info-subtitle{
    font-size: 200%;
}

.alg-card{
    margin: 5%;
    border: solid black;
    padding-top: 4%;
    padding-bottom: 4%;
}

.alg-card:hover{
    background-color: rgb(0, 0, 0, 0.2);
}

.alg-title{
    font-size: 130%;
    margin-left: 5%;
}

.alg-subtitle{
    font-size: 100%;
    margin-left: 5%;
}

.create-weightings{
    margin-bottom: 10%;
}

.select-priorities{
    margin: 0 3% 10% 3%;
}

.alg-image{
    border: 2px solid black;
}

.alg-interest-list {
    margin-left: 1%;
    margin-right: 1%;
}

#my-alg-card{
    padding: 5% 0;
}

.share-icons{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    padding-bottom: 5%;
}

.share-icon{
    width: 15%;
}

.assumption-subtitle{
    font-size: 100%;
    padding: 2%;
}

.black-gradient{
    background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, 5%, rgba(255,255,255,0) 10%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    pointer-events: none;
}

/* desktop */
@media only screen and (min-width: 768px) {
    #content{
        display: flex;
        justify-content: center;
    }

    #device-column{
        width: 100vw;
        height: 100dvh;
        justify-content: center;
    }

    #device{
        height: 90%;
    }
}

/* mobile */
@media only screen and (max-width: 767px) {
    #device-column{
        width: 100vw;
        height: 100dvh;
        justify-content: center;
    }

    #device{
        height: 97%;
    }
}

@keyframes animateButtonClick {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    0% {
        transform: scale(1);
      }
  }

  @keyframes loadingRing {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

